.login-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }
  
  form {
    width: 100%;
    
  }
  
  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .login-toolbar {
    justify-content: center;
  }
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .mat-raised-button {
    width: 100%;
    margin-top: 15px;
  }
  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
li  {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 li :hover:not(.active) {
  background-color: #111;
}
.w3-top
  {
    background-color: #333;
    height: 70px;
  }
  .ri 
{
  float: right;

}
body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}
input {
	outline: none;
	border: none;
}
.log {
    width: 100%;
    margin: 0 auto;
  }
  .login {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  .wraplogin {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  
  }
  
  .loginmore {
    display: flex;
    width: calc(100% - 560px);
    background-size: cover;
    background-position: center;
    position: relative;

  }
  .loginform {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #f7f7f7;
    padding: 100px 55px 70px 55px;
  }
  .logintitle {
    height: 20%;
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }
  .form {
    width: 100%;
    height: 80px;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .input1 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 26px;
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .input1:focus {
    height: 50px;
    top: 14px;
    font-size: 13px;
  }
  .bouton{
    padding-top: 30px;
}
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    margin-left: 20%;
    
  }

  .btn:hover {
    cursor: pointer;
    background: #333333;
}
.salsabil{
  text-decoration: underline;
  color: blue;
  height: 100%;
  cursor: pointer;
  align-items: center;
  margin-left: 15%;
}
  
@media (max-width: 992px) {
    .loginform {
      width: 50%;
      padding-left: 30px;
      padding-right: 30px;
    }

  }
  
@media (max-width: 768px) {
    .loginform {
      width: 100%;
    }
  
    .loginmore {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    .loginform {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 70px;
    }
  }
  .docs-navbar-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
    background: #4285f4;
    color:#fff;
}
:host{
    background-image: url('https://agrinova.ma/wp-content/uploads/2020/01/Background-website-01.jpg')!important;
    background-repeat: no-repeat;
    background-size: 200%;    color:#fff;
 
  }